---
import Layout from '../layouts/Layout.astro';
const pagesData = await Astro.glob('../data/*.json');
---

<Layout title="ランキング">
    <h1>ランキング</h1>
    <ul>
        {pagesData.map(({title, id}) => <li><a href={id}>{title}</a></li>)}
    </ul>
</Layout>

<style>
  h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    color:
     #fff;
  }

  ul {
    list-style: '';
    padding: 50px 20px;
    margin: 0;
    width: fit-content;
    margin-inline: auto;
  }

  a {
    display: block;
    padding: 3rem;
    border: solid 3px #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    transition: background-color .3s, color .3s;
    font-weight: 700;
  }

  a:hover {
    background-color: #fff;
    color: #000;
  }
</style>
